<!DOCTYPE html>
<head>
    <title>Ohtuminiprojekti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="navbar">
        <a class="navbar__link" href="/">Home</a>
        <a class="navbar__link" href="/viitteet">Viitteet</a>
        <a class="navbar__link" href="/lisaa_viite">Uusi</a>
    </nav>
    <h1 id="welcome_text">Tervetuloa Viitteet-sovellukseen</h1>
    <div class="container">
        
        <a class="page" href="/lisaa_viite">
            <p>Lisää viite</p>
        </a>
        <a class="page" href="/viitteet">
            <p>Viitteet</p>
        </a>
    </div>
    
</body>
