<!DOCTYPE html>
<head>
    <title>Viitteet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="navbar__link" href="/">Home</a>
        <a class="navbar__link" href="/viitteet">Viitteet</a>
        <a class="navbar__link" href="/lisaa_viite">Uusi</a>
    </nav>
    <h1 id="welcome_text">Nykyiset viitteet</h1>
    {% set url = url_for(request.endpoint) %}
    {% if url != "/sort_by_year": %}
	<input type="button" id="sort_by_year" onclick="parent.location='sort_by_year'" value="lajittele vuoden mukaan">
    {% endif %}
    <div>
        <select name="tag" id="tag">
            {% for tag in tags %}
            <option value={{ tag[0] }}> {{tag[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        {% for viite in viitteet %}
            <div class="viite">
                <h2>{{ viite[2] }}</h2>
                <p><b>Kirjailija</b> {{ viite[1] }}</p>
                <p><b>Julkaisuvuosi</b> {{ viite[3] }}</p>
                <p><b>Julkaisija</b> {{ viite[4] }}</p>
                <p><b>Tägi {{ viite[5]  }}<p><b>
                <p><b>BibTeX</b><br>
                    @book{viite,<br>
                        <pre class="tab">    author = &#123;{{ viite[1] }}&#125;,<br>    title = &#123;{{ viite[2] }}&#125;,<br>    year = &#123;{{ viite[3] }}&#125;,<br>    publisher = &#123;{{ viite[4] }}&#125;,<br>}</p></pre>
                <div class="rmbtn">
                    <a href="/poista_viite?viite_id={{viite[0]}}">Poista viite</a>
                </div>
                
            </div>
            
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

